*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title h1{
  font-size: 2.5rem;
}
.title p{
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.Card{
  background-color:  #ada3ad;
  text-align: center;
  padding: 2rem;
  border: none;
  border-radius: 3rem;
  box-shadow: 10px 10px 10px  black;
}
.App Img{
  border-radius: 50%;
}
.App button{
  background-color: #cc99ff;
  padding: 10px;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  font-weight: bold;
  box-shadow: 1px 1px 10px  black;
}
.App button:hover{
  background-color:  #d9b3ff;
}
